*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 100vh;
    background-image: url("../../img/back2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
section{
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,.6);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.container{
    width: 100%;
    height: 70%;
    display: flex;
    overflow: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#btn1{
    margin-top: 636px;
}
.bx{
    color: white;
    position: absolute;
    top: 32px;
    right: 20px;
    font-size: 26px;
}
.button{
    margin-bottom: 12px;
    width: 80%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:42px;
    background-color: rgba(250,250,250,.1);
    color: white;
    text-decoration: none;
    border:3px solid white;
    outline: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 0 0 30px 3px rgba(250,250,250,.1);
}
.button:hover{
    background-color: rgba(250,250,250,.16);
}
h1{
    color: rgba(250,250,250,.6);
    position: absolute;
    bottom: 18px;
    font-size: 36px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}